.ipynb_checkpoints
**/species/*.png
*:Zone.Identifier
.CondaPkg

CO2RR_RMS/Cu/CO2RR_Cu.ipynb
CO2RR_RMS/Ag/CO2RR_RMS.ipynb
CO2RR_RMS/Ag/CO2RR_RMS_Diffusion_Interface.ipynb
CO2RR_RMS/Ag/CO2RR_RMS_3.ipynb
CO2RR_RMS/Ag/CO2RR_RMS_Diffusion_Interface_1.ipynb
CO2RR_RMS/Ag/CO2RR_RMS_2.ipynb
CO2RR_RMS/Ag/CO2RR_RMS_AIChE.ipynb
CO2RR_RMS/Ag/CO2RR_RMS_Diffusion_Interface_Matt.ipynb
CO2_Reduction_Ag/CO2RR_RMS.ipynb
CO2_Reduction_Ag/CO2RR_RMS_Diffusion_Interface.ipynb
CO2_Reduction_Ag/CO2RR_RMS_3.ipynb
CO2_Reduction_Ag/CO2RR_RMS_Diffusion_Interface_1.ipynb
CO2_Reduction_Ag/CO2RR_RMS_2.ipynb
CO2_Reduction_Ag/CO2RR_RMS_AIChE.ipynb
CO2_Reduction_Ag/CO2RR_RMS_4.ipynb
CO2_Reduction_Ag/CO2RR_RMS_Diffusion_Interface_Matt.ipynb
CO2_Reduction_Cu/CO2RR_Cu.ipynb
AIChE_2025/Plot_FE.ipynb
AIChE_2025/CO2RR_RMS_Diffusion.ipynb
CO2_Reduction_Cu3Sn/CO2RR_RMS_Diffusion_Interface_Cu3Sn.ipynb
CO2_Reduction_Ag/HER-Data/Validation/HER-Val-Data.ipynb
CO2_Reduction_Ag/HER-Data/Validation/CO2RR_RMS_Sensitivity.ipynb
setup.ipynb